*~
*.1
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.o
*.rpm
*.spec
*.tar.gz
*.tar.xz
.deps
aclocal.m4
build_debs.sh
compile
config.log
config.status
configure
debian/changelog
debian/control
depcomp
install-sh
missing
moc_*
src/pxruler/pxruler
Makefile
Makefile.in
autom4te.cache
